<p>Доброго времени суток, <%= @resource.email %>!</p>

<p>На Ваш адрес электронной почты была запрошена инструкция для сброса пароля. Задать новый пароль Вы можете перейдя по ссылке:</p>

<p><%= link_to 'сбросить пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если Вы не запрашивали данную инструкцию, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен пока Вы не перейдете по ссылке и не введете новый.</p>

<hr />
<p>Это письмо сформировано автоматически. Не нужно на него отвечать.</p>
