<h2>Формы социального обслуживания</h2>
<% if @social_provider.social_forms.any? %>
  <table>
    <thead>
      <tr>
        <th>Форма обслуживания</th>
        <th>Общее количество мест</th>
        <th>Свободное количество мест</th>
      </tr>
    </thead>
    <tbody>
      <% @social_provider.social_forms.each do |form| %>
        <tr>
          <td><%= form.kind_text %></td>
          <td><%= form.places_number %></td>
          <td><%= form.free_places_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Нет информации</p>
<% end %>
