<h2>Социальные услуги</h2>
<% if @social_provider.social_services.any? %>
  <table>
    <thead>
      <tr>
        <th>Вид социальной услуги</th>
        <th>Название</th>
        <th>Стоимость</th>
      </tr>
    </thead>
    <tbody>
      <% @social_provider.social_services.each do |service| %>
        <tr>
          <td><%= service.kind_text %></td>
          <td><%= simple_format(service.title) %></td>
          <td><%= service.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Нет информации</p>
<% end %>
