<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Ваша заявка  на публикацию поставщика социльных услуг '<%= link_to @social_provider.short_title, my_social_provider_url(@social_provider) %>'
    на сайте Департамента по вопросам семьи и детей Томской области отклонена.
  </body>
</html>
