.actual
  +clearfix
  font-size: 14px
  margin-top: 20px
  .inner
    width: $common_width - 80px - 60px
    border: 1px solid #ccc
    border-top-color: #c6c6c6
    border-bottom-color: #b3b3b3
    padding: 30px
  h3, p
    line-height: 1.4
  h3
    font-size: 18px
    a
      color: #339034
