.content .inner

  .children_list
    +clearfix
    li
      width: 540px
      float: left
      +clearfix
      margin-bottom: 40px

      &.odd
        clear: left
        margin-right: 40px

      .image
        float: left
        width: 152px
        height: 202px
        img
          border: 1px solid #868686

      .information
        line-height: 1.3
        font-size: 13px
        margin-left: 170px
        p
          margin-bottom: 0
        .name_and_number
          margin-bottom: 5px
          .name
            +inline-block
            font-size: 18px
          .number
            +inline-block
            color: #808080
            font-weight: bold
            margin-bottom: 3px
        .published_on
          color: #444
          font-size: 11px
          margin-bottom: 10px
        .birth
          font-weight: bold
          margin-bottom: 5px
        .phisiology
          margin-bottom: 10px
        .living_arrangement
          margin-bottom: 10px
        .relatives
          margin: 5px 0
          .relatives_title
            margin-bottom: 5px
          .list
            +clearfix
            li
              width: 120px
              float: left
              margin: 0
              &.first
                clear: left
                margin-right: 5px
              &.second
                margin-right: 5px
              .relative_image
                float: left
                img
                  border: 1px solid #868686
              .relative_information
                margin-left: 33px
                .name
                  font-size: 11px
                .number
                  color: #808080
                  font-size: 11px

  .child_information
    h2
      font-size: 22px
      .number
        +inline-block
        color: #808080
        font-size: 18px
        margin-bottom: 5px
    .published_on
      font-size: 12px
      margin-bottom: 20px
    .information
      +clearfix
      .image
        float: left
        img
          border: 1px solid #808080
      .details
        font-size: 13px
        margin-left: 170px
        .birth
          font-weight: bold
          margin-bottom: 18px
        .phisiology
          margin-bottom: 18px
          p
            margin-bottom: 0
    .relatives
      clear: both
      border-top: 1px dotted #7f7f7f
      padding-top: 10px
      .list
        +clearfix
        li
          float: left
          +clearfix
          width: 366px
          margin-bottom: 10px
          &.first
            clear: left
            margin-right: 10px
          &.second
            margin-right: 10px
          .relative_image
            float: left
            img
              border: 1px solid #808080
          .relative_information
            line-height: 1.3
            margin-left: 85px
            p
              margin-bottom: 0
