.search_form_wrapper
  background: #fff
  border: 1px solid #c2c6cf
  margin: 0 0 25px 0
  padding: 10px

  h3
    border-bottom: 1px solid #f0f0f0
    color: #348e34
    font-size: 18px
    margin: 0 0 10px 0
    padding: 0 0 10px 0

  form
    +clearfix

    div.input
      abbr
        display: none

      label
        color: #434343
        font-size: 12px
        font-weight: bold
        display: block
        margin-bottom: 5px

    div.string
      margin-bottom: 5px
      input
        font-size: 14px
        font-family: Arial, Verdana, Tahoma, sans-serif
        border: 1px solid #bfc4cc
        +border-radius(2px)
        padding: 5px

    div.select
      select
        font-size: 14px
        font-family: Arial, Verdana, Tahoma, sans-serif
        border: 1px solid #bfc4cc
        +border-radius(2px)
        background-color: #fff
        padding: 5px

    div.check_boxes
      label
        margin-bottom: 13px
      .checkbox
        margin-right: 5px
        label
          font-family: Arial, Verdana, Tahoma, sans-serif
          font-weight: normal
          +inline-block
          margin-bottom: 5px

    div.buttons
      margin-top: 5px
      input
        color: #fff
        font-size: 14px
        font-family: Arial, Verdana, Tahoma, sans-serif
        background-color: #5e9a51
        +background-image(linear-gradient(#63a356, #528747))
        border: 1px solid #3f7f40
        +border-radius(2px)
        padding: 8px 18px
        &:hover
          +box-shadow(#4e9d4f 0 0 2px)
        &:active
          +background-image(linear-gradient(#5e9a51, #63a356))
      .clear
        font-size: 14px
        font-family: Arial, Verdana, Tahoma, sans-serif
        margin-left: 10px
        &:hover
          +text-shadow(#ccc 0 0 2px)

    .slider_label
      font-size: 12px
      font-weight: bold
      display: block
      margin-bottom: 10px
      margin-left: 3px

    .line_wrapper
      +clearfix
      .slider_wrapper
        float: left
        margin: 0 30px 0 0
        #slider_age_range
          width: 485px
          border: 1px solid #c2c7ce
          +border-radius(0)
          +border-top-left-radius(2px)
          +border-top-right-radius(2px)
          background-color: #eff0f0
          +background-image(linear-gradient(#fdfdfd, #e0e2e5))
          height: 5px
          margin: 0 0 0 8px
          .ui-widget-header
            top: -1px
            background: none
            background-color: #4c8ecf
            border-top: 1px solid #5799da
            border-bottom: 1px solid #163192
            +background-image(linear-gradient(#5799da, #4284c5))
            padding-right: 5px
          .ui-slider-handle
            top: -4px
            height: 15px
            width: 11px
            background: transparent image_url('ui/ui-slider-handle-bg.png') no-repeat center center
            +border-radius(0)
            border: none
            margin-left: -6px
        .slider_counter
          +clearfix
          li
            width: 16px
            font-family: Arial, Verdana, Tahoma, sans-serif
            text-align: center
            position: relative
            color: #717171
            font-size: 12px
            float: left
            margin-right: 11px
            padding-top: 7px
            &:before
              position: absolute
              content: ''
              width: 1px
              height: 5px
              top: 0px
              left: 8px
              background-color: #c2c7ce
            &.first
              margin-left: 0
            &.last
              margin-right: 0
      .input
        float: left
        &.select
          margin-right: 15px
