.content

  .hidden
    display: none

  .contest_work_wrapper
    position: relative
    width: 1080px
    padding: 0 20px

    =iconize
      $top: 300px
      top: $top
      display: block
      width: 20px
      height: 40px
      +clearfix
      background: transparent image_url('contest_arrow.png') no-repeat 0 0
      text-indent: -9999em

      &:active
        top: $top + 2px

    .to_left
      position: absolute
      left: -10px
      +iconize
      background-position: 0 0

      &:hover
        background-position: 0 -40px

    .to_right
      position: absolute
      right: -10px
      +iconize
      background-position: -20px 0

      &:hover
        background-position: -20px -40px

    .contest_work
      +clearfix
      border: 1px solid #ccc
      background-color: #fff
      +background(linear-gradient(top, #fff, #eee))
      margin-bottom: 20px

    .left
      width: 180px
      float: left
      text-align: center
      margin: 20px

      .image
        margin: 15px 0

      .name
        margin-bottom: 15px

      .votes
        p:last-child
          margin-bottom: 0

        .small
          color: #999
          font-size: 11px

        .vote_link
          background-color: #63a356
          +background-image(linear-gradient(#619f54, #63a356, #4a7b41))
          color: #fff
          +inline-block
          font-size: 13px
          text-align: center
          line-height: 30px
          +border-radius(5px)
          +box-shadow(#59934e 10px 0 5px -5px inset, #59934e -10px 0 5px -5px inset)
          text-decoration: none
          text-transform: uppercase
          padding: 0 15px
          &:active
            +background-image(linear-gradient(#4a7b41, #63a356, #619f54))

    .right
      width: 832px
      float: left
      +clearfix
      margin: 35px 0

      img
        border: 1px solid #cfcfcf

  .contest_thumbnails
    +clearfix
    margin-bottom: 5px

    li
      float: left
      margin: 0 11px 15px 0

      &:nth-child(8n)
        margin-right: 0

      &:nth-child(8n+1)
        clear: left

      img
        cursor: pointer
        width: 128px
        height: 88px
        +opacity(0.5)
        display: block
        border: 1px solid #ccc

        &:hover
          +opacity(1)

      &.selected
        img
          +opacity(1)
          border-color: #3f7f40
