.service_links
  margin: 20px 0

  li
    +inline-block

    &:after
      content: '|'
      margin-left: 5px

    &:last-child:after
      content: ''

.simple_form

  fieldset
    border: 1px solid #ccc
    margin: 10px 0
    padding: 10px 10px 15px

  label abbr
    cursor: help
    color: #880000
    border-bottom: none

  div.email,
  div.password,
  div.text
    margin: 10px 0

    label
      display: block
      margin-bottom: 5px

  div.boolean
    margin: 10px 0

  div.text
    textarea
      width: 1115px
      height: 100px

  #social_provider_work_experience
    height: 400px

  div.error
    color: #d9534f
    font-size: 12px
    margin-top: 5px

  div.hint
    color: #999
    font-size: 12px
    margin-top: 5px

  div.actions
    margin: 10px 0

  // nested forms

  .fields
    border-bottom: 1px solid #ccc
    margin-bottom: 10px
    padding-bottom: 10px
