<div class="right_side_facts children_contacts">
  <h4><%= @right_side_links.part_title %></h4>
  <div class="body">
    <%= @right_side_links.content.body.html_safe %>
  </div>
  <div class="right_side_bottom"></div>
</div>
