<%= link_to 'редактировать', edit_my_social_provider_path(social_provider) if policy(social_provider).edit? %>
<% if social_provider.draft? %>
  <%= link_to 'отправить на публикацию', pending_my_social_provider_path(social_provider), :method => :post if policy(social_provider).to_pending? %>
<% elsif social_provider.pending? %>
  <span>(возможность именения заблокирована)</span>
<% end %>
<%= link_to 'удалить', my_social_provider_path(social_provider), :method => :delete, :confirm => 'Вы уверены что хотите удалить?' if policy(social_provider).destroy? %>
