<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Банк детей-сирот</title>
    <%= stylesheet_link_tag    'manage' %>
    <%= javascript_include_tag 'manage' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

