<p>Доброго времени суток, <%= @resource.email %>!</p>

<p>Для вашего адреса электронной почты была запрошена инструкция для сброса пароля. Сделать это вы можете перейдя по ссылке:</p>

<p><%= link_to 'Сбросить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашиваи данную инструкцию, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен пока вы не перейдете по ссылке и не введете новый.</p>
