<div class='breadcrumbs'>
  <ul>
    <li>
      <%= link_to 'назад к списку', collection_path %>
    </li>
    <li>
      Добавление участника и рисунка
    </li>
  </ul>
</div>

<%= render 'form' %>
